body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, footer {
    background-color: #ba85ff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
}

button {
    background-color: #ff00f2;
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #8f00e2;
}
